mixin contacts
  section.contacts
    div.row
      each contact in contacts
        div.contacts__item
          h3.contacts__item-title #{ contact.title }

          if (contact.description)
            p.contacts__item-description #{ contact.description }

          if (contact.phone)
            a(href=`tel:${contact.phone}`).contacts__item-phone
              +phone
              span #{ functions.phone(contact.phone) }

          if (contact.email)
            a(href=`mailto:${contact.email}`).contacts__email #{ contact.email }